html, body {
  background: white;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#tudo {
width: 1000px;
height: 100%;
margin: 0 auto;
}

#cabecario{
  width: 100%;
  height: 10%;
  background-color: black;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

#menu{
 width: 50%;
 height: 100%;
 float: right;
}

#menu table{
  margin: 0 auto;
  margin-right: 5px;
  height: 100%;
}

#menu table td{
  padding: 10px;
}

#menu a{
  text-decoration: none;
  color: white;

}

#rodape{
  background-color: black;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  height: 5%;
}

#followus{
  width: 300px;
  height: 100%;
  float: right;
}

#followus table{
  color: white;
  margin: 0 auto;
  margin-right: 2px;
  height: 100%;
}

#followus a{
  color: white;
}

#followus table td{
  padding-right: 10px;
}

#conteudo{
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 130%;
  padding-top: 5px;
  font-size: 20;
}

#esquerda{
  margin-top: 50px;
  width: 70%;
  float: left;
}

#esquerda p{
  font-size: 10pt;
  text-align: justify;
  margin-left: 20px;
}

#direita{ 
  margin-top: 5px;
  width: 25%;
  height: 359px;
  float: right;
  min-height: 120%;
  text-align: center;
  font-size:10pt;
}

#artistas{
  font-weight: bolt;
}